<!-- Welcome email template with mustache in spanish -->
<html>

<head>
    <title>Bienvenido a {{company}}</title>
</head>

<body>
    <h1>Bienvenido a {{company}}</h1>
    <p>Hola {{name}},</p>
    <p>Gracias por registrarte en nuestro servicio. Por favor, verifica tu correo electrónico haciendo clic en el enlace
        de abajo.</p>
    <p><a href="{{link}}">Verificar correo electrónico</a></p>
    <p>Si no te registraste en nuestro servicio, por favor ignora este correo electrónico.</p>
    <p>Gracias,</p>
    <p>Equipo {{company}}</p>
</body>

</html>
